
.navbar {
    height: auto;
    position: fixed;
    width: 100%;
    
    /* Desktop Navbar */
    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        margin: 0; 
    }

    /* Mobile/Tablet navbar */
    @media (max-width: 844px) {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-top: 10px;
        margin: 5px;
    }
}

.navbar__right {
    display: flex;
    justify-content: space-evenly;

    /* Desktop */
    @media (min-width: 1024px) {
        width: 35%;
    }

    /* Mobile/Tablet */
    @media (max-width: 480px) {
        width: 1.5rem;
    }

}

