.splitpane {
    height: auto;
    width: 100%;
    display: flex;
    background:  #323640;
    margin: 2rem;

    /* Desktop */
    @media (min-width: 1024px) {
        justify-content: center;
        align-items: center;
    }

    /* Mobile/tablet */
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.split__image-profile {

    border-radius: 500px;
    margin-right: 6rem;
    margin-top: 1rem;

    @media (min-width: 1024px) {

    }

    @media (max-width: 480px) {


    }
}

.split__bio {
    max-width: 50%;

    @media (min-width: 1024px) {
        margin-left: 6rem;
    }
}

.split__bio-header {
    font-size: 5rem;
}

.split__bio-text {
    
}